<section class="section-flow section-flow-first">
  <div class="container">
    <h2 class="text-center">Contact Me</h2>
    <hr class="star-primary">
    <div class="row" *ngIf="feedback">
      <div class="col-lg-8 mx-auto">
        <ngb-alert [type]="feedback.type" (close)="closeAlert()">{{ feedback.message }}</ngb-alert>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <form (ngSubmit)="onSubmit()" name="sentMessage" id="contactForm" #contactForm="ngForm" class="was-validated" novalidate>
          <!--NAME-->
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Name</label>
              <input class="form-control" id="name" type="text" name="name" #name="ngModel" placeholder="Name" [(ngModel)]="contactRequest.name">
            </div>
          </div>
          <!--EMAIL-->
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Email Address</label>
              <input class="form-control" id="email" type="email" name="email" #email="ngModel" placeholder="Email Address *" required
                     [(ngModel)]="contactRequest.email" pattern="[^ @]*@[^ @]*">
              <small [hidden]="email.valid || email.pristine" class="was-validated invalid-feedback">A valid email is required</small>
            </div>
          </div>
          <!--PHONE-->
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Phone Number</label>
              <input class="form-control" id="phone" type="tel" placeholder="Phone Number" name="phone" [(ngModel)]="contactRequest.phone">
            </div>
          </div>
          <!--MESSAGE-->
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>Message</label>
              <textarea class="form-control" id="message" name="message" #message="ngModel" rows="5" placeholder="Message *" required
                        [(ngModel)]="contactRequest.message"></textarea>
              <small [hidden]="message.valid || message.pristine" class="was-validated invalid-feedback">Message is required</small>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-lg" id="sendMessageButton" [disabled]="contactForm.invalid">Send</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
