<section class="top-section-flow">
  <div class="container">
    <h2 class="text-center">Work Experience</h2>
    <hr class="star-primary">
    <div class="row mt-5 justify-content-center">
      <div class="timeline">
        <div class="item">
          <div class="work-place">
            <h3 class="place">Unisys Switzerland</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Bern, Switzerland</span>
          </div>
          <div class="job-meta">
            <div class="title">Senior Software Engineer</div>
            <div class="time">11/2009 - Present</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">Tieto Deutschland GmbH</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Berlin, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Senior Software Engineer</div>
            <div class="time">08/2008 - 09/2009</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">ARC-GREENLAB GmbH</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Berlin, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Software Engineer</div>
            <div class="time">03/2004 - 07/2008</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">DER SPIEGEL</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Hamburg, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Flash Developer</div>
            <div class="time">03/2001 - 07/2001</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container certificates">
    <h2 class="text-center">Certificates</h2>
    <hr class="star-primary">
    <div class="row mt-5 justify-content-center">
      <ul class="text-center">
        <li class="title">Certified Spring Professional</li>
        <li class="title">Oracle Certified Professional Java Programmer</li>
        <li class="title">Certified PrimeFaces Developer</li>
        <li class="title">Hermes Foundation</li>
      </ul>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <h2 class="text-center">Education</h2>
    <hr class="star-primary">
  </div>
</section>
<!--<section class="top-section resume">-->
<!--<div class="container">-->
<!--<h2 class="text-center">Resume</h2>-->
<!--<hr class="star-primary">-->
<!--<div class="row mt-5">-->
<!--<div class="col-md-4">-->
<!--</div>-->

<!--<h3 class="text-center">Employment</h3>-->
<!--<ul>-->
<!--<li><i>Senior Software Engineer, <a href="http://www.unisys.ch">Unisys Switzerland</a></i>-->
<!--<div class="period">11/2009 - present</div>-->
<!--</li>-->
<!--<li><i>Senior Software Engineer, <a href="http://www.tieto.com">Tieto Deutschland GmbH</a></i>-->
<!--<div class="period">08/2008 - 09/2009</div>-->
<!--</li>-->
<!--<li><i>Software Engineer, <a href="http://www.arc-greenlab.de/">ARC-GREENLAB GmbH</a></i>-->
<!--<div class="period">03/2004 - 07/2008</div>-->
<!--</li>-->
<!--<li><i>Flash Developer, <a href="http://www.spiegel.de/">DER SPIEGEL</a> (Intern)</i>-->
<!--<div class="period">03/2001 - 07/2001</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<h3 class="text-center">Certificates</h3>-->
<!--<ul>-->
<!--<li><i>Oracle Certified Professional Java Programmer</i></li>-->
<!--<li><i>Certified Spring Professional</i></li>-->
<!--<li><i>Certified PrimeFaces Developer</i></li>-->
<!--<li><i>Hermes Foundation</i></li>-->
<!--</ul>-->
<!--</div>-->
<!--<div class="col-md-4">-->
<!--<h3 class="text-center">Education</h3>-->
<!--<ul>-->
<!--<li>-->
<!--<i>Master of Computer Science, Software Engineering, 2009</i>-->
<!--<div class="period">10/2006 - 04/2009,-->
<!--<a href="http://www.fernuni-hagen.de/english">Hagen University</a> (Distance Learning University), Germany-->
<!--</div>-->
<!--</li>-->
<!--<li><i>Diplom-Ingenieur (FH), Geoinformatics and Cartography, 2005</i>-->
<!--<div class="period">10/1999 - 03/2005, <a href="http://www.hs-karlsruhe.de">University of Applied-->
<!--Sciences Karlsruhe</a>, Germany-->
<!--</div>-->
<!--<div class="period">10/2001 - 06/2002, <a href="http://www.msu.ru/en/">Lomonosov Moscow State-->
<!--University</a>, Russia-->
<!--</div>-->
<!--</li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
