<section class="section-flow section-flow-first">
  <div class="container">
    <h2 class="text-center">Work Experience</h2>
    <hr class="star-dark">
    <div class="row justify-content-center">
      <div class="timeline">
        <div class="item">
          <div class="work-place">
            <h3 class="place">Unisys Switzerland</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Bern, Switzerland</span>
          </div>
          <div class="job-meta">
            <div class="title">Senior Software Engineer</div>
            <div class="time">11/2009 - 02/2018</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">Tieto Deutschland GmbH</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Berlin, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Senior Software Engineer</div>
            <div class="time">08/2008 - 09/2009</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">ARC-GREENLAB GmbH</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Berlin, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Software Engineer</div>
            <div class="time">03/2004 - 07/2008</div>
          </div>
        </div>
        <div class="item">
          <div class="work-place">
            <h3 class="place">DER SPIEGEL</h3>
            <span class="location"><i class="fa fa-map-marker" aria-hidden="true"></i>Hamburg, Germany</span>
          </div>
          <div class="job-meta">
            <div class="title">Flash Developer</div>
            <div class="time">03/2001 - 07/2001</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section-flow certificates">
  <div class="container">
    <h2 class="text-center">Certificates</h2>
    <hr class="star-dark">
    <div class="row justify-content-center">
      <ul class="text-center">
        <li>Certified Spring Professional</li>
        <li>Oracle Certified Professional Java Programmer</li>
        <li>Certified PrimeFaces Developer</li>
        <li>Hermes Foundation</li>
      </ul>
    </div>
  </div>
</section>

<section class="section-flow section-flow-last education">
  <div class="container">
    <h2 class="text-center">Education</h2>
    <hr class="star-dark">
    <div class="row justify-content-center">
      <ul class="text-center">
        <li>
          Master of Computer Science, Software Engineering, 2009
          <div class="period">
            <span class="time">10/2006 - 04/2009</span>
            Hagen University (Distance Learning University), Germany
          </div>
        </li>
        <li class="mt-2">Diplom-Ingenieur (FH), Geoinformatics and Cartography, 2005
          <div class="period">
            <span class="time">10/1999 - 03/2005</span> University of Applied
            Sciences Karlsruhe, Germany
          </div>
          <div class="period">
            <span class="time">10/2001 - 06/2002</span> Lomonosov Moscow State
            University, Russia
          </div>
        </li>
      </ul>

    </div>
  </div>
</section>
