<nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
  <div class="container">
    <a class="navbar-brand" [routerLink]="['/home']" fragment="page-top">Georg Ludewig</a>
    <button class="navbar-toggler text-uppercase bg-primary text-white rounded" type="button"
            (click)="navbarCollapsed = !navbarCollapsed"
            [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarResponsive" aria-expanded="false"
            aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>

    <div id="navbarResponsive" class="collapse navbar-collapse  justify-content-end" [ngbCollapse]="navbarCollapsed">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link rounded" [routerLink]="['/home']" fragment="aboutme" [routerLinkActive]="['active']"
             (click)="navbarCollapsed = true">About me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded" [routerLink]="['/resume']" [routerLinkActive]="['active']"
             (click)="navbarCollapsed = true">Resume</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded" [routerLink]="['/projects']" [routerLinkActive]="['active']"
             (click)="navbarCollapsed = true">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded" [routerLink]="['/chat']" [routerLinkActive]="['active']"
             (click)="navbarCollapsed = true">Chat</a>
        </li>
        <li class="nav-item">
          <a class="nav-link rounded" [routerLink]="['/contact']" [routerLinkActive]="['active']"
             (click)="navbarCollapsed = true">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>

<footer class="footer text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3 class="text-uppercase">Location</h3>
        <p class="lead">3005 Bern
          <br>Switzerland</p>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase">Around the Web</h3>
        <ul class="list-inline">
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://github.com/fischermatte">
              <i class="fa fa-fw fa-github"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/fischermatte">
              <i class="fa fa-fw fa-twitter"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://stackoverflow.com/users/524906/fischermatte">
              <i class="fa fa-fw fa-stack-overflow"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3 class="text-uppercase">Contact</h3>
        <p class="lead">
          Georg Ludewig <br>
          <a [routerLink]="['/contact']">Contact me!</a>
        </p>
      </div>
    </div>
  </div>
  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          Copyright © Georg Ludewig 2017<br>
          Version 1.4.3
        </div>
      </div>
    </div>
  </div>
</footer>

