$fa-font-path: "~font-awesome/fonts";
$lato-font-path: "~lato-font/fonts";
$montserrat-font-path: "~montserrat-font/fonts";

@import 'variables';
@import '../../node_modules/bootstrap/scss/bootstrap';
@import '../../node_modules/font-awesome/scss/font-awesome';
@import '../../node_modules/lato-font/scss/lato-font';
@import '../../node_modules/montserrat-font/scss/montserrat-font';
@import '../../node_modules/startbootstrap-freelancer/scss/freelancer';
@import '../../node_modules/ngx-toastr/toastr.css';
@import 'theme_overrides';
@import 'blockui_overrides';
