<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <span class="name">I <i class="fa fa-heart"></i> <br>Software Engineering</span>
      <hr class="star-light">
      <span class="skills">Coding - Cloud - Architecture - Agile - Web - Java</span>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <h2 id="aboutme" class="text-center">About Me</h2>
    <hr class="star-primary">
    <div class="row">
      <div class="col-md-12">
          <p>
            I am a passionate software engineer with excellent problem-solving, communication and technical skills. With a proven
            track record in multinational corporations and hands-on software development experience with Enterprise Web Development,
            Java and Java EE. I am a creative, proactive professional and a true team player that is willing to take on challenges
            and keep myself up-to-date with software development technologies.
          </p>
      </div>
    </div>
  </div>
</section>


