<header class="masthead">
  <div class="container">
    <img class="img-fluid" src="img/profile.png" alt="">
    <div class="intro-text">
      <span class="name">I <i class="fa fa-heart icon-first"></i> Software Engineering</span>
      <hr class="star-light">
      <span class="skills">Coding - Cloud - Architecture - Agile - Web - Java</span>
    </div>
  </div>
</header>
<section>
  <div class="container">
    <h2 class="text-center">Who I am</h2>
    <hr class="star-primary">
    <div class="row">
    </div>
  </div>
</section>


