
.timeline {
  border-left: 3px solid #0074D9;
  border-bottom-right-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  padding: 0 30px;
  margin-left: 188px;

  .item {
    position: relative;
    margin-bottom: 45px;
  }
  .item:last-child {
    margin-bottom: 0;
  }
  .item:before {
    content: "";
    position: absolute;
    left: -43px;
    top: 0;
    display: inline-block;
    width: 22px;
    height: 22px;
    -o-border-radius: 50%;
    border-radius: 50%;
    background-clip: padding-box;
    background: #fff;
    border: 3px solid #0074D9;
  }
  .item:after {
    content: "";
    position: absolute;
    left: -37px;
    top: 6px;
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-clip: padding-box;
    background: #0074D9;
    z-index: 10;
  }

  .work-place {
    position: relative;
  }

  .location {
    color: #8a8a8a;
    .fa {
      margin-right: 5px;
    }
  }

  .place {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 300;
  }

  .job-meta {
    position: absolute;
    left: -200px;
    top: 0;
    .title {
      font-size: 1.2em;
      color: #0074D9;
    }
    .time {
      color: #8a8a8a;
    }
  }
  .job-desc {
    color: #666;
  }
}

.certificates ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-size: 1.2em;
    color: #0074D9;
  }
}

.education ul {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    font-size: 1.2em;
    color: #0074D9;
    .period {
      font-size: 1em;
      color: #000;
      .time {
        color: #8a8a8a;
      }
    }
  }
}
