div.block-ui-wrapper {
  background-color: transparent;
}

/* Spinner */
div.block-ui-wrapper .loader {
  border-color: #e4dfdc; /* Circle color */
  border-left-color: $primary; /* Spinning section in circle color */
}

/* Message */
div.block-ui-spinner .message {
  color: $primary; /* Loading text color */
}
