.top-section {
  padding: 140px 0;
}
@media(max-width:767px) {
  .top-section {
    padding: 85px 0;
  }
  .top-section.first {
    padding-top: 85px;
  }
}

.top-section-flow {
  padding: 140px 0 20px 0 ;
}
@media(max-width:767px) {
  .top-section-flow {
    padding: 85px 0 10px 0;
  }
  .top-section-flow.first {
    padding-top: 85px;
  }
}
