hr.star-dark {
  margin-bottom: 40px;
}

.section-flow {
  padding: 30px 0 30px 0;
}

@media(max-width: 767px) {
  .section-flow {
    padding: 70px 0 10px 0;
  }
  .section-flow.first {
    padding-top: 70px;
  }
}

.section-flow-first {
  padding-top: 140px;
}
@media(max-width: 767px) {
  .section-flow-first {
    padding-top: 100px;
  }
}


.section-flow-last {
  padding-bottom: 80px;
}
