<section class="section-flow section-flow-first">
  <div class="container">
    <h2 class="text-center">Projects</h2>
    <hr class="star-primary">
    <div class="row" *ngIf="feedback">
      <div class="col-lg-8 mx-auto">
        <ngb-alert [type]="feedback.type" (close)="closeAlert()">{{ feedback.message }}</ngb-alert>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <div *blockUI="'project-list'" class="project-list">
          <div *ngFor="let project of projects" class="project-item">
            <div class="project-period">{{project.period}}</div>
            <div class="project-title">{{project.title}}</div>
            <div class="project-customer"><a href="{{project.customer.url}}">{{project.customer.name}}</a></div>
            <div class="project-description">{{project.description}}</div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
    </div>
  </div>
</section>
