.project-item {
  margin-bottom: 20px;

  .project-period {
    font-size: 1em;
    color: #8a8a8a;

  }
  .project-title {
    font-weight: bold;
  }

  .project-client {

  }

  .project-description {

  }
}
